.title,
.link {
  font-family: Montserrat;
  font-weight: bold;
  margin-left: 1rem;
}

.title {
  color: #0290ff;
}

.link {
  text-decoration: none;
  color: #121212;
}

.header,
.header > *,
.header > * > *,
.header > * > * > *{
  display: flex;
  align-items: center;
}
